* {
    margin: 0;
}

body {
    background: #2174f8;
    text-decoration: none;
}


.top{
    margin-top: 20px;
    display: flex;
    /* justify-content:space-around; */

}

.title{
    margin-top: 15px;
    width: 90%;
}
.top img{
    width: 160px;
    height: 70px;
}
button {
    float: right;
    background-color: #157EE6; 
    border-radius: 8px;
    border: none;
    color: white;
    padding: 8px 32px;
    margin-left: 3vw;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border-style:solid;
    border-width:1.5px;
    border-color: white;
}
.title {
    color: white;
    font-size: 25px;
    text-align: center;
}

.left-div {
    /* display: block;
    position: relative;
    top: 10vh; */
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    width: 15%;
}
.left-div img{
    
    width:80px;
    height:80px;
    margin-bottom: 20px;
}
.left-div figure{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.name{
    margin-left: -5px;
    background-color: white;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    margin-left: 0 auto;
    color:#2174f8;
    padding-top:3px ;
    text-align: center;

}
ul {
    margin-top:20px ;
    list-style-type: none;
}
li{
    margin: 20px 0 20px 0;
}
li a {
    margin:10px;
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Fira Code', monospace;
    font-size: 18px;
    font-weight: 400;

}
.active{
    color: #EF8354;
    text-decoration: underline;
}
li a:hover {
    color: #EF8354;
    transition: 0.3s;
}
article{
    display: flex;
    margin-top:30px ;
}

